/* ==== RESET ==== */

@import url("reset.css");

/* ==== BODY ==== */

body {
	background-color: #F0F8FF;
	height: 100vh;
	/* border: 1px solid; */
}

a {
	color: inherit;
	text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid; */
}

.container {
	width: 100%;
	/* border: 1px solid; */
}

/* ==== HEADER ==== */

header {
	font-family: 'Fredoka', sans-serif;
	width: 50%;
	height: 10vh;
	margin: 0 auto;
	position: relative;
	/* border: 1px solid; */
}

.home {
	float: left;
	font-size: 16px;
	font-weight: 500;
	/* border: 1px solid; */
}

.navigation {
	float: right;
	/* border: 1px solid; */
}

.navigation li {
	display: inline-block;
	margin-left: 16px;
	font-size: 16px;
	font-weight: 400;
	/* border: 1px solid; */
}

.navigation li:hover {
	font-weight: 500;
	color: #4682B4;
}

.pg-active {
	color: #1E90FF;
}

/* ==== MAIN ==== */

.main {
	font-family: 'Fredoka', sans-serif;
	width: 100%;
	height: 80vh;
	margin: 0 auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	/* border: 1px solid; */
}

.content {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	margin: auto 24px;
	/* border: 1px solid; */
}

.socmed {
	font-size: 28px;
}

.socmed li {
	margin: 16px auto;
}

.socmed li:hover {
	font-weight: 500;
	color: #4682B4;
}

.intro {
	width: 300px;
	/* border: 1px solid; */
}

.resume {
	background-color: #1E90FF;
	border: none;
	border-radius: 12px;
	color: white;
	padding: 12px 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
	margin: 12px auto;
  }

.resume:hover {
	background-color: #4682B4;
}

h2 {
	font-size: 48px;
	font-weight: 600;
	margin: 0 0 24px 0;
}

.prof-pict img {
	border-radius: 50%;
}

/* ==== FOOTER ==== */

footer {
	font-family: 'Fredoka', sans-serif;
	font-size: 12px;
	width: 50%;
	height: 10vh;
	margin: 0 auto;
	position: relative;
	/* border: 1px solid; */
}